@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>SISTEMA DE CONTROLE DE CONTATO</p>
     <img src="https://user-images.githubusercontent.com/78884474/196554129-e2e1aa20-8910-4ca2-b088-9196ccfd52be.gif" />
</div>
