
<div class="text-center cadastrar-contato">

    <h1 class="display-4">Cadastrar contato</h1>
    
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Digite seu nome</label>
        </div>
      </div>
    </form>
  </div>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Digite seu E-mail</label>
        </div>
      </div>
    </form>
  </div>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Digite seu telefone</label>
        </div>
      </div>
    </form>
  </div>
</div>
