@{
    ViewData["Title"] = "Deletar Contato";
}


<div class="text-center cadastrar-contato">

    <h4 class="display-6">Deseja realmente excluir (nome)?</h4>
    <div class=" text-center buttons-delete">
        <a role="button" class="btn btn-delete" asp-controller="Contato" asp-action="Del">SIM</a>
        <a role="button" class="btn btn-delete" asp-controller="Contato" asp-action="Index">NÃO</a>
    </div>
       <a class="waves-effect waves-light btn " asp-controller="Contato" asp-action="Index" >Voltar<i class="material-icons right" >redo</i></a>

</div>
