@{
    ViewData["Title"] = "Listagem de Contatos";
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
}
<div class="text-center">

    <h1 class="display-4">Listagem e Contatos</h1>
    <div>
        <a role="button" class="buttn-add" asp-controller="Contato" asp-action="Create" ><span class="add-contact material-symbols-outlined">group_add</span>Adicionar novo contato</a>
    </div>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto@gmail.com</td>
      <td>11 99955-8641</td>
      <td>
          <div class="btn-group" role="group" >

             <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">EDITAR</a>
             <a role="button" class="btn btn-danger"  asp-controller="Contato" asp-action="Delete">APAGAR</a>

          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton@gmail.com</td>
      <td>11 99955-7684</td>

      <td>
           <div class="btn-group" role="group" >

             <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">EDITAR</a>
             <a role="button" class="btn btn-danger"  asp-controller="Contato" asp-action="Delete">APAGAR</a>

          </div>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>larry@gmail.com</td>
      <td>11 99955-7843</td>

      <td>
           <div class="btn-group" role="group" >

             <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">EDITAR</a>
             <a role="button" class="btn btn-danger"  asp-controller="Contato" asp-action="Delete">APAGAR</a>

          </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
